* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    text-align: center;
    margin-top: 1em;
}

html {
    background-color: white;
    scroll-behavior: smooth;
}

body {
    font-family: "Avenir Next", "Helvetica", "sans-serif";
    margin: 0;
}

input {
    float:left;
}

#pin {
    margin-top: -50%;
    margin-left: 37%;
    width: 80px;
    height: 80px;
    filter: invert(.5) sepia(1) saturate(5) hue-rotate(170deg);
}

.pin-s{
    filter: invert(.2) sepia(1) saturate(30) hue-rotate(10deg) !important;
}

.charts {
    background: white;
    position: relative;
    display: none;
}

#top {
    display: inline-block;
    width: 100%;
    position: relative;
}

#dropdown {
    border-top: 1px solid grey;
    padding-top: 2em;
    margin-top: -60%;
    float: right;
    padding-right: 40px;
}

#basic_info {
    float: right;
    padding-right: 45px;
    margin-top:-75%;
}

.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}

.tooltip {
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    display: none;
    font-size: 12px;
    left: 130px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 95px;
    width: 80px;
    z-index: 10;
}

#chart {
    width: 100%;
}

select::-ms-expand {
    display: none;
}

#dropdown select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    max-width: 300px;
    height: 40px;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px 0px 10px;
    font-size: 14px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    -ms-word-break: normal;
    word-break: normal;
}

.circ {
    fill: #00b1ff
}

.circ:hover {
    cursor: pointer;
}

.selected {
    fill: red !important;
}

#reset {
    position: absolute;
    left: 15px;
    top: 20px;
}

#filter_criteria {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    max-width: 250px;
    height: 30px;
    float: right;
    margin: 5px 0px;
    padding: 0px 12px 0px 10px;
    font-size: 14px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    -ms-word-break: normal;
    word-break: normal;
    position: absolute;
    left: 350px;
    top: 15px;
}

#cutoff {
    position: absolute;
    left: 620px;
    top: 20px;
    height: 25px;
    font-size: 14px;
    text-align: center;
}

#filter {
    position: absolute;
    left: 800px;
    top: 20px;
}

#reset_filter {
    position: absolute;
    left: 900px;
    top: 20px;
    width: 100px;
}

button {
    width: 80px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    background: rgba(255,255,255, .5);
    color: black;
    border: 1px solid black;
}
button:hover {
    background: rgba(255,255,255, 1.0);
    cursor: pointer;
}

#top {
    border: 1px solid #cbcdcc;
}

#left {
    display: inline-grid;
    float: left;
    background: #e8e8e8;
}

#right {
    /* padding-top: 1em; */
    -webkit-box-shadow: -2px 0px 2px 0px rgba(170,170,170,1);
    -moz-box-shadow: -2px 0px 2px 0px rgba(170,170,170,1);
    box-shadow: -2px 0px 2px 0px rgba(170,170,170,1);
    display: inline-grid;
    padding-left: 2em;
    height: 800px;
    background: white;
}

.filtered {
    fill: black;
    cursor: pointer;
}

button:focus { outline:0; }
select:focus { outline: 0; }
